{% extends 'base.html' %}

{% block content %}
<h2>All Roles In The {{ production.name }} Ballet</h2>
<div class="display-cards container d-flex flex-row justify-content-center flex-wrap">
{% for role in roles %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ role.costume.image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ role.name }}</h5>
      <p>{{ role.level.name }}</p>
    </div>
    <div class="card-body">
      <a href="/roles/{{ role.id }}" class="btn btn-sm btn-secondary">Details</a>
      <a href="/roles/{{ role.id }}/edit" class="btn btn-sm btn-secondary">Edit</a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}