{% extends 'base.html' %}

{% block content %}
    <div class="display-cards container d-flex flex-row justify-content-center flex-wrap">
    {% for costume in costumes %}

    <div class="card costume-card" style="width: 18rem;">
        <img class="card-img-top" src="{{ costume.image_url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ costume.name }}</h5>
        </div>
        <div class="card-body">
            <a href="/costumes/{{ costume.id }}" class="btn btn-sm btn-secondary">Costume Details</a>
            <a href="/costumes/{{ costume.id }}/edit" class="btn btn-sm btn-secondary">Edit</a>
          </div>
    </div>
    
    {% endfor %}
</div>
{% endblock %}