{% extends 'base.html' %}

{% block content %}

<div class="display-cards">
{% for headpiece in headpieces %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ headpiece.image_url }}" alt="{{ headpiece.description }}">
    <div class="card-body">
      <h5 class="card-title">{{ headpiece.name }}</h5>
      <p class="card-text">{{ headpiece.description }}</p>
    </div>
    <div class="card-body">
      <a href="/headpieces/{{ headpiece.id }}" class="btn btn-sm btn-secondary">Details</a>
      <a href="index.html" class="btn btn-sm btn-secondary">Home</a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}