{% extends 'base.html' %}

{% block content %}

<div class="display-cards container d-flex flex-row justify-content-center flex-wrap">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ headpiece.image_url }}" alt="{{ headpiece.description }}">
    <div class="card-body">
      <h5 class="card-title">{{ headpiece.name }}</h5>
      <p class="card-text">{{ headpiece.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Quantity: {{ headpiece.quantity}}</li>
      <li class="list-group-item">Current Location: {{ headpiece.current_location}}</li>
      <li class="list-group-item">Storage Location: {{ headpiece.storage_location}}</li>
    </ul>
    <div class="card-body">
      <a href="/headpieces" class="btn btn-sm btn-secondary">All Headpieces</a>
      <a href="/headpieces/{{ headpiece.id }}/edit" class="btn btn-sm btn-secondary">Edit</a>
      <a href="/headpieces/{{ headpiece.id }}/delete" class="btn btn-sm btn-secondary">Delete</a>
    </div>
  </div>

</div>

{% endblock %}