{% extends 'base.html' %}

{% block content %} 
    
    
    <div class='production-form'>
        <h2 id="form-title"> Edit Production: </h2>
        <form id='production-form' method='POST' enctype="multipart/form-data" action="/productions/{{ production.id }}/edit">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
            {% endfor %}
            <button type='submit' class='btn btn-secondary'>Submit</button>
        </form>
    </div>

{% endblock %}