{% extends 'base.html' %}

{% block content %}

<div class="display-cards container d-flex flex-row justify-content-center flex-wrap">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ prop.image_url }}" alt="{{ prop.description }}">
    <div class="card-body">
      <h5 class="card-title">{{ prop.name }}</h5>
      <p class="card-text">{{ prop.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Quantity:</b> {{ prop.quantity}}</li>
      <li class="list-group-item"><b>Current Location:</b> {{ prop.current_location}}</li>
      <li class="list-group-item"><b>Storage Location:</b> {{ prop.storage_location}}</li>
    </ul>
    <ul class="list-group list-group-flush">
      <p class="card-text">Used for the following roles: </p>
      {% for role in roles %}
      <li class="list-group-item">{{ role.production.name }} - {{ role.level.name }} - {{ role.name }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
      <a href="/props/{{ prop.id }}/edit" class="btn btn-sm btn-secondary">Edit</a>
      <a href="/props/{{ prop.id }}/delete" class="btn btn-sm btn-secondary">Delete</a>
    </div>
  </div>

</div>

{% endblock %}