{% extends 'base.html' %}

{% block content %} 
    <div class='role-form container'>
        <h2 id="form-title"> Add New Role: </h2>
        <form id='role-form' method='POST'>
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                {{ field.label }}
                {{ field (class_="form-control")}}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endfor %}
            <button type='submit' class='btn btn-secondary'>Submit</button>
        </form>
    </div>

{% endblock %}