{% extends 'base.html' %}

{% block content %}
<h2>Roles</h2>
<div class="display-cards container d-flex flex-row justify-content-center flex-wrap">
{% for role in roles %}
  <div class="card" style="width: 18rem;">
    <h5 class="card-title">{{ role.production.name }}</h5>
    <h6 class="card-title">{{ role.level.name }}</h6>
    <h6 class="card-title">{{ role.name }}</h6>
    <img class="card-img-top" src="{{ role.costume.image_url }}" alt="Card image cap">
    <div class="card-body">
      <a href="/costumes/{{ role.costume.id }}" class="btn btn-sm btn-secondary">Tops</a>
      {% if role.skirt %}
      <a href="/costumes/{{ role.skirt.id }}" class="btn btn-sm btn-secondary">Bottoms</a>
      {% endif %}
      {% if role.armpuffs %}
      <a href="/costumes/{{ role.armpuffs.id }}" class="btn btn-sm btn-secondary">Accessory</a>
      {% endif %}
      <a href="/headpieces/{{ role.headpiece.id }}" class="btn btn-sm btn-secondary">Headpiece</a>
      {% if role.prop %}
      <a href="/props/{{ role.prop.id }}" class="btn btn-sm btn-secondary">Prop</a>
      {% endif %}
      <p></p>
      <a href="/roles/{{ role.id }}" class="btn btn-sm btn-secondary">Role Details</a>
      <a href="/roles/{{ role.id }}/edit" class="btn btn-sm btn-secondary">Edit Role</a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}